body {
  margin: 0;
  background-color: black;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

header {
  align-items: center;
}

/* CLASSES */

.wrapper {
  width: 84%;
  margin: auto;
  padding-top: 8px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.site-title {
  display: inline-block;
  font-size: 42px;
  vertical-align: top;
  margin-left: 20px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  width: 200px;
  background-color: #1A1A1A;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  margin-bottom: 20px;
}

.movie img {
  height: 300px;
}

.star-yellow {
  font-size:28px;
  color:#f5c518;
}

.star-empty {
  font-size:28px;
  color: #5799EF;
}

.star-full {
  font-size:28px;
  color: #5799EF;
}

.title {
  height: 40px;
  overflow: hidden;
  margin: 8px 0;
}

.date {
  color: #aaa;
}

.search {
  height: 40px;
  width: 420px;
  border: 1px solid #555;
  padding-left: 8px;
  border-radius: 6px;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 390px center;
}
